<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bobby Priambodo</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
    <link href="/static/good.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 jumbotron">
          <h1>Bobby Priambodo's Profile</h1>

          <p>Hello, my name is Widyanto Bagus Priambodo, but you can call me Bobby. My student ID is 1206208315.</p>
        </div>
      </div>

      <div class="row form">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center">

            <h2>{% block header_text %}{% endblock %}</h2>

            <form method="post" action="{% block form_action %}{% endblock %}">
              <input name="item_text" id="id_new_item" class="form-control input-lg" placeholder="Enter a to-do item" />
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          {% block table %}
          {% endblock %}
        </div>
      </div>

      <div class="row blog">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center">
            <h2>Bobby's blog <small>random writings</small></h2>

            <div class="row">
              <div class="col-md-12">
                <h3>Hello, world!</h3>
                <p><small>Wednesday, October 28, 2015</small></p>
                <p>This is the first post of my blog with some lorem ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo, elit quis dictum eleifend, ligula dui elementum ipsum, a aliquam tortor lorem ac augue. Nunc posuere tincidunt arcu, in cursus urna. Nunc ut elit pulvinar eros placerat dapibus et nec leo.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h3>Second Post</h3>
                <p><small>Wednesday, October 28, 2015</small></p>
                <p>This is the second post of my blog.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
